div.alertContainer {
	// padding: 20px;
	display: flex;

	.alertList {
		position: absolute;

		margin-left: auto;
		margin-right: auto;

		right: 32px;
		width: 40em;
		z-index: 999999;
		padding: 0.5rem;

		div.alertMessage {

			background: white;
			position: relative;
			margin-top: 16px;
			opacity: 85%;
			padding: 8px;

			&.warning {
				border: 1px solid orange;
				background: #ffc39d;
			}

			&.information {
				border: 1px solid blue;
				background: #afc3ff;
			}

			&.error {
				border: 1px solid red;
				background: #ff6e7f;
			}

			.dismiss {
				position: absolute;
				top: 0;
				right: 0;
			}

			.title {
				font-size: 18px;
				line-height: 2.0;
				display: block;
			}

			.body {
				display: block;
				margin-left: 4px;
			}
		}

	}
}


