$linkBackground: #003366;
$logoBackground: #003366;

$BCgovBlue: #003366;
$BCgovGold: #fade81;

$headerText: #ffffff;
$darkBackgroundText: #ffffff;

$text: #313132;
$mutedText: lighten($text, 30%);

$mainNavBg: #ffffff;
$mainNavFontColor: #222222;

$tableEvenRowBackground: #ebebfc;
$tableEvenRowForeground: #333333;
$tableOddRowBackground: #ffeecb;
$tableOddRowForeground: #333333;
$tableEvenRowHoverBackground: #fae37a;
$tableEvenRowHoverForeground: #333333;
$tableOddRowHoverBackground: #fae37a;
$tableOddRowHoverForeground: #333333;
