.dash_grid {
	display: grid;
	grid-template-areas:
            "profile welcome welcome"
						"profile actions reports";
	grid-template-columns: 350px 550px 400px;
	// 380px repeat(2, 1fr)
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.profile_card {
	display: flex;
	flex-direction: column;
	align-items: center;

	.name {
		margin: 1rem auto;
		display: grid;
		grid-template-columns: 64px auto;
		grid-template-rows: auto 70px;
		text-align: left;

	}

	.quick_access {
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		text-align: center;

		width: 100%;

		.actions {
			svg button{
				&:not(:last-child) {
					margin-right: 16px;
				}

			}
		}
	}
}

.welcome_buttons {
	display: flex;
	padding-left: 25px;

	button {
		// &:not(:last-child) {
			// margin-right: 16px;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
			border-radius: 15px;
			background-color: rgb(56, 89, 138);
			text-transform: capitalize;
			padding: 10px;
			font-size: 16px;
			margin-right: 6%;
			width:30%;
		// }
	}
}

.count_num {
	color: #fcba19;
}

