@import "colours";

.dash_grid {
	display: grid;
	grid-template-areas:
		"profile welcome welcome"
		"profile actions reports";
	grid-template-columns: 330px 600px 410px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

	svg,
	a {
		color: $link;
	}

	td {
		font-size: 14px;
		padding: 0 0 1.43rem;
		color: $text;
	}

	.dash_profile {
		grid-area: profile;
		border-radius: 15px;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

		.settingIcon {
			position: absolute;
			left: 70px;
			top: 65px;

			svg {
				font-size: 25px;
				color: $body2;
			}
		}

		.profileTitle {
			.MuiTypography-root {

				padding-top: 25px;
				color: $text;
				font-size: 20px;
				font-family: 'BCSans-Bold';
				text-align: center;
			}
		}

		.profile_card {
			display: flex;
			flex-direction: column;
			align-items: center;

			.userIcon {
				font-size: 200px;
			}

			.userInfo {
				margin: 1rem auto;
				display: grid;
				grid-template-columns: 64px auto;
				grid-template-rows: auto 70px;
				text-align: left;

				.name {
					font-size: 16px;
					color: $text;
				}

				.role {
					color: #ADB5BD;
					grid-column: 2;
					padding-bottom: 1.5rem;
					font-size: 13px;
					position: relative;
					left: 8px;
				}

				.phoneIcon,
				.emailIcon,
				.businessIcon {
					margin-bottom: 20px;
				}

				.infoText {
					font-size: 13px;
					color: $text;
					padding-top: 3px;
				}

			}

			.divider1 {
				position: relative;
				top: -175px;
			}

			.divider2 {
				margin-bottom: 25px;
			}

			.quick_access {
				margin-left: auto;
				margin-right: auto;
				margin-top: auto;
				text-align: center;
				width: 100%;

				.quickAccessText {
					margin-bottom: 10px;
					font-size: 16px;
					color: $text;
				}

				.actions {
					display: flex;
					justify-content: space-evenly;
					margin-bottom: 10px;

					p {
						font-size: 10px;
						margin: 0;
						opacity: 0;
						position: absolute;
					}

					.generateBtn:hover {
						p {
							left: 60px;
							opacity: 1;
							color: #495057;
						}
					}

					.searchBtn:hover {
						p {
							left: 150px;
							opacity: 1;
							color: #495057;
						}
					}

					.actionBtn:hover {
						p {
							left: 210px;
							opacity: 1;
							color: #495057;
						}
					}
				}
			}
		}
	}

	.dash_welcome {
		grid-area: welcome;
		border-radius: 15px;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

		.MuiCardHeader-root {
			padding: 30px 0 10px 35px;

			.MuiCardHeader-title {
				font-family: 'BCSans-Bold';
				padding-top: 10px;
				color: $text;
				font-size: 20px;
			}

			.MuiCardHeader-subheader {
				padding-top: 10px;
				font-size: 16px;
				color: #787f81;
			}

		}
	}
}

.welcome_buttons {
	display: flex;
	padding: 13px 0px 45px 20px;

	button {
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		background-color: $link;
		text-transform: capitalize;
		padding: 10px;
		font-size: 16px;
		margin-right: 6%;
		font-family: 'BCSans-Bold';
		width: 470px;
		height: 58px;

	}
}

.actionTitle,
.reportTitle {
	padding: 30px 50px 10px 30px;
	align-items: center;

	svg {
		font-size: 30px;
	}

	.MuiLink-root {
		cursor: pointer;
		text-decoration: none;
		font-size: 20px;
		font-family: 'BCSans-Bold';
	}
}

#dash_actions,
.dash_actions {
	grid-area: actions;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

	.MuiCardContent-root {
		padding-left: 33px;

		tr {
			td:nth-child(2) {
				text-align: right;
				padding-left: 100px;
			}
		}
	}
}

#dash_reports,
.dash_reports {
	grid-area: reports;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

	.MuiCardContent-root {
		padding-left: 33px;

		tr {
			td:nth-child(1) {
				text-align: left;
				color: #FCBA19;
			}

			td:nth-child(3) {
				font-size: 12px;
				color: #495057;
			}
		}
	}

}


//action management

.actionManagement_profile,
#actionManagement_profile {
	width: 330px;
	margin-right: 15px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

	svg,
	a {
		color: $link;
	}

	.settingIcon {
		position: absolute;
		left: 70px;
		top: 65px;

		svg {
			font-size: 25px;
			color: $body2;
		}
	}

	.profileTitle {
		.MuiTypography-root {

			padding-top: 25px;
			color: #666666;
			font-size: 20px;
			font-family: 'BCSans-Bold';
			text-align: center;
		}
	}

	.profile_card {
		display: flex;
		flex-direction: column;
		align-items: center;

		.userIcon {
			font-size: 200px;
		}

		.userInfo {
			margin: 1rem auto;
			display: grid;
			grid-template-columns: 64px auto;
			grid-template-rows: auto 70px;
			text-align: left;

			.name {
				font-size: 16px;
			}

			.role {
				color: #ADB5BD;
				grid-column: 2;
				padding-bottom: 1.5rem;
				font-size: 13px;
				position: relative;
				left: 8px;
			}

			.phoneIcon,
			.emailIcon,
			.businessIcon {
				margin-bottom: 20px;
			}

			.infoText {
				font-size: 13px;
			}

		}

		.divider1 {
			position: relative;
			top: -175px;
		}

		.divider2 {
			margin-bottom: 25px;
		}

		.quick_access {
			margin-left: auto;
			margin-right: auto;
			margin-top: auto;
			text-align: center;
			width: 100%;

			.quickAccessText {
				margin-bottom: 10px;
				font-size: 16px;
			}

			.actions {
				display: flex;
				justify-content: space-evenly;
				margin-bottom: 10px;

				p {
					font-size: 10px;
					margin: 0;
					opacity: 0;
					position: absolute;
				}

				.generateBtn:hover {
					p {
						left: 60px;
						opacity: 1;
						color: #495057;
					}
				}

				.searchBtn:hover {
					p {
						left: 150px;
						opacity: 1;
						color: #495057;
					}
				}

				.actionBtn:hover {
					p {
						left: 230px;
						opacity: 1;
						color: #495057;
					}
				}
			}
		}
	}
}

.actionManagement_welcome,
#actionManagement_welcome {
	width: 1050px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

	.MuiCardHeader-root {
		padding: 30px 0 10px 50px;

		.MuiCardHeader-title {
			font-family: 'BCSans-Bold';
			padding-top: 10px;
			color: #666666;
			font-size: 20px;
		}

		.MuiCardHeader-subheader {
			padding-top: 20px;
			font-size: 16px;
			color: #313132;
		}
	}

	.MuiCardContent-root {
		padding-left: 50px;

		.action_inputs {
			width: 390px;
		}

		.date {
			margin-right: 65px;
		}

		.note {
			width: 845px;
		}

		.Notification {
			display: flex;
			align-items: center;

			.MuiTypography-root {
				margin-right: 70px;
			}

			.MuiTypography-root,
			.MuiFormControlLabel-root {
				color: $body2;
				font-size: 16px;
			}
		}

		.reminderBtn {
			text-transform: capitalize;
			margin: 75px 0 20px 775px;
			width: 131px;
			height: 36px;

		}

	}
}

.set_reminder_dialog {
	.MuiDialog-paper {
		width: 732px;
		height: 327px;
		overflow-y: inherit;
	}

	.icon_container {
		margin: auto;
		width: 110px;
		height: 110px;
		border-radius: 999rem;
		background: rgba(223, 240, 216, 0.83);
		position: relative;
		top: -55px;
	}

	.CheckIcon {
		position: relative;
		color: #2d4821;
		font-size: 40px;
		top: 35px;
		left: 35px;
	}

	.MuiDialogTitle-root {
		margin: 0 auto;
		padding: 0;
		font-size: 20px;
		font-family: 'BCSans-Bold';
		color: #000000;
		position: relative;
		top: -25px;
	}

	.MuiDialogContent-root {
		margin: auto;
		padding: 0 24px;
		text-align: center;
		color: #787f81;
		font-size: 16px;
		margin-inline: auto;
		width: 560px;
	}

	.MuiDivider-root {
		margin-left: 0;
		margin-right: 0;
	}

	.MuiDialogActions-root {
		padding: 24px 24px 24px 0;

		.closeBtn {
			width: 94px;
			height: 36px;
			font-size: 14px;
			text-transform: capitalize;
			font-family: 'BCSans-Bold';
			background-color: #e9e9e9;
			color: $text;
		}
	}
}

.MuiPickersToolbar-content {

	.MuiPickersToolbar-penIconButton {
		display: none;
	}
}

//toolbar action color
button[class^="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1e0vxdt-MuiButtonBase-root-MuiButton-root"],
button[class*="MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-1e0vxdt-MuiButtonBase-root-MuiButton-root"] {
	color: $link;
}

//Lock Modal
.lock_modal_dialog,
.notification_dialog {

	.MuiDialog-paper {
		width: 732px;
		height: 327px;
		overflow-y: inherit;

		.dialogBtn {
			position: absolute;
			right: 8px;
			top: 8px;
		}


	}

	.lock_icon_container {
		margin: auto;
		width: 110px;
		height: 110px;
		border-radius: 999rem;
		background: rgba(255, 174, 0, 0.68);
		position: relative;
		top: -60px;
	}

	.notification_icon_container {
		margin: auto;
		width: 110px;
		height: 110px;
		border-radius: 999rem;
		background: rgba(111, 177, 239, 0.68);
		position: relative;
		top: -60px;
	}

	.LockIcon {
		position: relative;
		color: #ffffff;
		font-size: 50px;
		top: 30px;
		left: 30px;
	}

	.NotificationIcon {
		position: relative;
		color: #1a5a96;
		font-size: 50px;
		top: 30px;
		left: 30px;
	}

	.MuiDialogTitle-root {
		margin: 0 auto;
		padding: 0;
		font-size: 20px;
		font-family: 'BCSans-Bold';
		color: #000000;
		position: relative;
		top: -25px;
	}

	.MuiDialogContent-root {
		margin: auto;
		padding: 0 24px;
		text-align: center;
		color: #787f81;
		font-size: 16px;
		margin-inline: auto;
		width: 610px;

		.MuiFormGroup-row {
			margin-top: 10px;

			.MuiFormControlLabel-label {
				color: #c0c0c0;
			}
		}
	}

	.MuiDivider-root {
		margin-left: 0;
		margin-right: 0;
	}

	.MuiDialogActions-root {
		padding: 24px 24px 24px 0;

		.dialog_actions {
			width: 94px;
			height: 36px;
			font-size: 14px;
			text-transform: capitalize;
			font-family: 'BCSans-Bold';
		}

		.MuiButton-root:nth-child(2) {
			background-color: #e9e9e9;
			color: $text;
			margin-left: 12px;
		}

		.closeBtn {
			width: 94px;
			height: 36px;
			font-size: 14px;
			text-transform: capitalize;
			font-family: 'BCSans-Bold';
			background-color: #e9e9e9;
			color: $text;
		}
	}

	.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
		max-width: 732px;
	}
}