.dash_grid {
	display: grid;
	grid-template-areas:
            "profile welcome welcome"
						"profile actions reports";
	grid-template-columns: 380px repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.profile_card {
	display: flex;
	flex-direction: column;
	align-items: center;

	.name {
		margin: 2rem auto;

		display: grid;
		grid-template-columns: 32px auto;
		text-align: left;
	}

	.quick_access {
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		text-align: center;

		width: 100%;

		.actions {
			svg {
				&:not(:last-child) {
					margin-right: 16px;
				}

			}
		}
	}
}

.welcome_buttons {
	display: flex;
	justify-content: center;
	button {
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
}

.count_num {
	color: #fcba19;
}

