@import "colours";

table.inventory_table {

	min-width: 80%;
	margin: auto;

	tbody {
		tr {
			line-height: 1;
			padding: 0;

			td {
				padding: 0;
				line-height: 1.5;
			}
		}

		tr:nth-child(2n+1) {
			background: rgb(200, 200, 200);

			&:hover {
				background: lighten($BCgovGold, 10) !important;
			}
		}

		tr:nth-child(2n) {
			&:hover {
				background: lighten($BCgovGold, 15) !important;
			}
		}
	}
}

.generate_container {
	.generate_headline {
		font-family: 'BCSans-Bold';
		font-size: 32px;
	}

	.generate_subtitle {
		margin-bottom: 28px;
		font-size: 16px;
		color: #787f81;
	}

	.generate_textfield {
		width: 529px;
	}

	//error message
    .error_message{
        font-size: 14px;
        color: #d32f2f;
    }


	.project_details {
		min-width: 1090px;
		margin: 32px 125px 0 125px;
	}

	.two_column {
		.MuiTypography-root {
			font-family: 'BCSans-Bold';
			font-size: 18px;
			margin: 32px 0 21px 125px;
		}

		.display_row {
			margin-inline: 125px;
		}
	}

	.requester_details_btn {
		text-transform: capitalize;
		font-size: 14px;
		margin: 32px 0 0 125px;
		padding: 5px 10px;
	}

	.generate_submit_btn {
		text-transform: capitalize;
		width: 130px;
	}

}

.css-j5h6pi-MuiPopper-root {
	.MuiPaper-root {
		width: 529px;
		position: relative;
		left: 25px;

		.css-epd502 {
			width: 529px;

			.MuiCalendarPicker-root {
				width: 529px;
			}
		}
	}
}

.generate_confirm_dialog,
.generate_cancel_dialog {

	.MuiDialog-paper {
		width: 732px;
		height: 327px;
		overflow-y: inherit;

		.dialogBtn {
			position: absolute;
			right: 8px;
			top: 8px;
		}
	}

	.cancel_icon_container {
		margin: auto;
		width: 110px;
		height: 110px;
		border-radius: 999rem;
		background: rgba(255, 174, 0, 0.68);
		position: relative;
		top: -60px;
	}

	.generated_icon_container {
		margin: auto;
		width: 110px;
		height: 110px;
		border-radius: 999rem;
		background: rgba(	223, 240, 216, 0.83);
		position: relative;
		top: -55px;
	}

	.PriorityHighIcon {
		position: relative;
		color: #ffffff;
		font-size: 50px;
		top: 30px;
		left: 30px;
	}
	.CheckIcon {
		position: relative;
		color: #2d4821;
		font-size: 40px;
		top: 35px;
		left: 35px;
	}

	.MuiDialogTitle-root {
		margin: 0 auto;
		padding: 0;
		font-size: 20px;
		font-family: 'BCSans-Bold';
		color: #000000;
		position: relative;
		top: -25px;
	}

	.MuiDialogContent-root {
		margin: auto;
		padding: 0 24px;
		text-align: center;
		color: #787f81;
		font-size: 16px;
		margin-inline: auto;
		width: 560px;
	}

	.MuiDivider-root {
		margin-left: 0;
		margin-right: 0;
	}

	.MuiDialogActions-root {
		padding: 24px 24px 24px 0;

		.dialog_actions {
			// width: 94px;
			height: 36px;
			font-size: 14px;
			text-transform: capitalize;
			font-family: 'BCSans-Bold';
		}

		.closeBtn {
			background-color: #e9e9e9;
			color: $text;
			margin-left: 12px;
		}

		.cancelBtns{
			width: 94px;
		}
	}
}

//list page
.list_page {
	width: 1344px;
	padding: 4px;
	padding-top: 16px;
	border-radius: 5px;

	.MuiTypography-root {
		font-family: 'BCSans-Bold';
		font-size: 40px;
		margin: 20px 130px;
	}
}

//generate lock widget
.lockWidget {
	display: flex;
	align-items: center;
}