@import "colours";


.list_page {
	width: 1344px;
	padding: 16px 130px;
	border-radius: 5px;

	.MuiTypography-h1{
		margin-block: 24px;
	}
	a{
		cursor: pointer;
	}
}

table.inventory_table {

	min-width: 100%;
	margin: auto;

	tbody {
		tr {
			line-height: 1;
			padding: 0;

			td {
				padding: 0;
				line-height: 1.5;
			}
		}

		tr:nth-child(2n+1) {
			background: rgb(200, 200, 200);

			&:hover {
				background: lighten($BCgovGold, 10) !important;
			}
		}

		tr:nth-child(2n) {
			&:hover {
				background: lighten($BCgovGold, 15) !important;
			}
		}
	}
}
