@import 'colours';
@import 'base';


.topNavOuter {
	background-color: rgb(56, 89, 138);
	height: 2rem;
	position: relative;

}

.topNav {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	color: #ffff;


	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;

		position: absolute;
		bottom: 0;
	}

	li {
		display: inline-block;

		padding: 0.25rem 0;
		margin: 0;

		a {
			line-height: 1;
			padding: 0;
			margin: 0;
			font-size: 1.25rem;
			font-weight: 700;
			color: white !important;
		}

		&:not(:last-child):after {
			content: '：';
			color: $BCgovGold;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}
}

