table {
	//width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 0.875rem;
	line-height: 1.25;


	th,
	td {
		padding: 0 0 1.25rem;

		&:not(:last-child) {
			padding-right: 1rem;
		}
		text-align: justify;
	}

	th {
		font-weight: 700;
		font-size: 150%;
	}
}
