span>p{
    margin: 0;
}
#line2>p{
    margin-right: 5%;
}
.identifierSelect{
    display: flex;
    flex-direction: row;
}
.assigned{
    border: 5px solid rgb(76, 175, 80);
    background-color: rgb(76, 175, 80);
    border-radius: 30px;
    width: 90px;
    text-align: center;
    color: white;
}