@import 'colours';

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.container {

    .pageHead {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .headerTitle {

            .MuiTypography-root:nth-child(1) {
                font-size: 32px;
                font-family: 'BCSans-Bold';
            }

            .subtitle {
                font-size: 16px;
                margin-block: 8px 32px;
                color: $secondaryText;

            }

            .selectIDsLink {
                font-size: 16px;
                color: $link;
                margin-left: 12px;
                cursor: pointer;
            }
        }

        .pageHeadBtn {
            .updateIDBtn {
                height: 41px;
                text-transform: capitalize;
                font-size: 14px;
                margin-right: 8px;
            }

            .MuiIconButton-root {
                margin: 0;
                font-size: 14px;
            }
        }

    }

    .expandButtons {
        display: flex;
        justify-content: flex-end;
        margin-top: 26px;

        .expand_btn {
            width: 108px;
            height: 32px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            background-color: #ffffff;
            font-size: 14px;
            color: $body2;
            font-weight: 400;
        }

        button:nth-child(2) {
            margin-left: 8px;
        }
    }




    .personnelTable {
        table-layout: auto;

        .tableHead {
            background-color: #f8f9fa;

            .MuiTableCell-root:nth-child(8) {
                width: 80px;
            }
        }

        .phone {
            white-space: nowrap;
        }
    }

    .error_message {
        font-size: 14px;
        color: #d32f2f;
    }
}

//for personnel table menu
.MuiMenu-root {
    .MuiMenu-paper {
        .MuiMenu-list {
            .personnelTableMenu {
                width: 220px;

                svg {
                    margin-right: 20px;
                    color: #003366;
                }
            }
        }
    }
}

//Event Add Confirm, delete Confirm
.addEventConfirm,
.deleteConfirm {
    .MuiDialog-paper {
        width: 732px;
        height: 327px;

        //close icon btn
        .dialogBtn {
            position: absolute;
            right: 8px;
            top: 8px;
        }

        .MuiDialogTitle-root {
            font-size: 18px;
            font-family: 'BCSans-Bold';
            color: #000000;
            padding: 48px 0 20px 24px;
        }

        .MuiDialogContent-root {
            padding: 0 24px;
            font-size: 16px;
            color: $secondaryText;

            .MuiTypography-root {
                font-size: 16px;
                font-family: 'BCSans-Bold';
                color: $secondaryText;
                padding-top: 20px;
            }
        }

        .MuiDivider-root {
            margin-left: 0;
            margin-right: 0;
        }

        .MuiDialogActions-root {
            padding: 24px 24px 24px 0;

            .requesterFormBtn {
                width: 94px;
                height: 36px;
                font-size: 14px;
                text-transform: capitalize;
                font-family: 'BCSans-Bold';
            }

            .MuiButton-root:nth-child(1) {
                background-color: #a12622;
                color: #ffffff;
            }

            .MuiButton-root:nth-child(2) {
                background-color: #e9e9e9;
                color: $text;
                margin-left: 12px;
            }
        }

    }

}

//New Event Form dialog
.newEventFormDialog {
    .MuiDialog-paper {
        width: 1090px;
        height: 825px;

        .MuiDialogTitle-root {
            font-size: 18px;
            font-family: 'BCSans-Bold';
            color: #000000;
            padding: 48px 0 20px 70px;
        }

        .MuiDialogContent-root {
            padding: 0 70px;
            font-size: 16px;
            color: $text;

            .eventRadios {
                margin-block: 10px 24px;
            }

            .leftColumn,
            .rightColumn {
                width: 459px;
            }

            .rightColumn {
                margin-left: 32px;
            }

            .detailsSubtitle {
                font-family: 'BCSans-Bold';
                font-size: 18px;
                margin-block: 24px;
            }

            .MuiButton-root {
                font-size: 14px;
                text-transform: capitalize;
                width: 175px;
            }

            .temp_button {
                display: flex;
                flex-direction: column;

                .MuiButton-root:nth-child(1) {
                    margin-bottom: 12px;
                }
            }

            .samplesContainer {
                width: 400px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                color: $body2;

                .MuiFormControlLabel-root {
                    color: #666666;

                }
            }

            .history {
                width: 950px;
                margin-block: 24px;
            }
        }

        .MuiDivider-root {
            margin-left: 0;
            margin-right: 0;
        }

        .MuiDialogActions-root {
            padding: 24px 70px 24px 0;

            .dialogButtons {
                width: 94px;
                height: 36px;
                font-size: 14px;
                text-transform: capitalize;
                font-family: 'BCSans-Bold';
            }

            .MuiButton-root:nth-child(1) {
                color: #ffffff;
            }

            .MuiButton-root:nth-child(2) {
                background-color: #e9e9e9;
                color: $text;
                margin-left: 12px;
            }
        }

    }

}

//personnel Dialog
.personnelDialog {
    .MuiDialog-paper {
        width: 975px;
        padding: 32px;

        .dialogBtn {
            position: absolute;
            right: 8px;
            top: 8px;
        }

        .MuiTypography-root {
            font-size: 18px;
            font-family: 'BCSans-Bold';
            padding-bottom: 32px;
        }

        .MuiDialogContent-root {

            .MuiTextField-root {
                width: 100%;
            }

            .requesterFormBtn {
                width: 106px;
                height: 34px;
                font-size: 14px;
                font-family: 'BCSans-Bold';
            }

            .MuiButton-root:nth-child(2) {
                margin-left: 12px;
            }
        }
    }
}

.statusConfirmDialog {
    .MuiDialog-paper {
        width: 600px;
        height: 279px;

        .dialogBtn {
            position: absolute;
            right: 8px;
            top: 8px;
        }

        .MuiTypography-root {
            font-size: 16px;
            padding: 50px 0 20px 72px;
        }

        .MuiDialogContent-root {
            overflow-y: unset;
            padding: 0 72px;

            .requesterFormInput {
                width: 440px;
                margin: 12px 16px;
            }

            .region {
                width: 912px;
                margin: 12px 16px;
            }

        }

        .MuiDialogActions-root {
            padding: 29px 32px 32px 0;

            .requesterFormBtn {
                width: 106px;
                height: 34px;
                font-size: 14px;
                text-transform: capitalize;
            }

            .MuiButton-root:nth-child(2) {
                margin-left: 12px;
            }
        }

    }

}

.multiple_card {
    border-left: 8px solid $link;
}

.multiple_card,
.details_card {
    margin-top: 9px;
    width: 100%;
    height: 152px;
    display: flex;
    align-items: center;
    padding-inline: 50px;
    position: relative;
    z-index: 5 !important;
    text-align: left;

    span {
        width: 18%;
    }

    .cardSubtitle {
        .MuiTypography-root:nth-child(1) {
            font-size: 18px;
        }

        .MuiTypography-root:nth-child(2) {
            font-size: 13px;
            color: #ffffff;
        }
    }

    .MuiTypography-body1 {
        color: $text;
    }

    .MuiTypography-body2 {
        color: $body2;
    }

    .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .expand_icon {
        svg {
            font-size: 40px;
            color: $link;
        }
    }

    .status_card {
        display: flex;
        flex-direction: column;

        .status_title {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 15px;
        }
    }


}

.expand_paper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    .cardDetails {
        width: 79%;
        margin: 10px auto 30px auto;

        //for pri and sec purpose
        .priPurpose {
            width: 529px;
            margin-top: 14px;
        }

        .secPurpose {
            width: 529px;
            margin-left: 32px;
            margin-top: 14px;
        }

        //for Edit Status
        .changeStatus {
            width: 529px;
            margin-top: 32px;
        }

        .correctIdNumber {
            width: 460px;
            margin-left: 245px;
        }

        .retiredSection {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        .reason,
        .project,
        .projectDetails,
        .species,
        .history {
            min-width: 1091px;
            margin-top: 32px;

            #history-helper-text {
                color: #2E8540;
            }
        }

        .retiredSwitches {
            width: 330px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;


            .switch {
                margin-inline: 20px;
            }
        }

        .switchLabels,
        .eventRadios {
            margin-top: 32px;
            color: #666666;
        }

        //status history
        .historyTable {
            margin-bottom: 36px;
        }

        //for edit purpose
        .detailsSubtitle {
            font-family: 'BCSans-Bold';
            font-size: 18px;
            margin-block: 32px 16px;
        }

        //left column
        .leftColumn {
            width: 529px;
            margin-top: 32px;
        }

        //right column
        .rightColumn {
            width: 529px;
            margin-left: 32px;
            margin-top: 32px;
        }

        .addRequester {
            width: 128px;
            height: 32px;
            margin-top: 7px;
            font-size: 14px;
            padding: 0;
            text-transform: capitalize;
        }

        .submitterContainer {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        .addIdentifier {
            width: 176px;
            height: 32px;
            margin-top: 32px;
            font-size: 14px;
            text-transform: capitalize;
        }

        .copyFromRequester {
            width: 176px;
            height: 32px;
            margin-top: 6px;
            font-size: 14px;
            text-transform: capitalize;
        }

        .addSubmitter,
        .addLocation {
            width: 176px;
            height: 32px;
            margin-top: 24px;
            font-size: 14px;
            text-transform: capitalize;
        }

        //for event details
        //location container
        .locations,
        .identifier {

            .locationEntry,
            .identifierEntry {
                display: flex;
                flex-direction: column;

                .locationsContainer,
                .identifierContainer {
                    width: 1140px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: row;

                    .locationSelect,
                    .identifierSelect {
                        width: 529px;
                        margin-right: 32px;
                        margin-top: 32px;
                    }

                    svg {
                        font-size: 20px;
                        margin-left: 4px;
                    }

                    .oneColumnContainer {
                        width: 569px;
                        display: flex;
                        align-items: baseline;
                        margin-top: 32px;

                        .MuiTextField-root {
                            width: 529px;
                        }

                    }

                    .twoColumnContainer {
                        width: 569px;
                        display: flex;
                        align-items: baseline;
                        margin-top: 32px;

                        .firstColumn {
                            width: 256px;
                            margin-right: 16px;
                        }

                        .secondColumn {
                            width: 256px;
                        }

                    }

                    .threeColumnContainer {
                        width: 569px;
                        display: flex;
                        align-items: baseline;
                        margin-top: 32px;

                        .MuiTextField-root {
                            width: 165px;
                        }

                        .leftColumns {
                            margin-right: 16px;
                        }

                    }

                    .earTag {
                        width: 569px;
                        display: flex;
                        align-items: flex-start;
                        margin-top: 32px;

                        .MuiTextField-root:nth-child(1),
                        .MuiTextField-root:nth-child(2) {
                            width: 210px;
                            margin-right: 16px;
                        }

                        .MuiFormGroup-root:nth-child(3) {
                            width: 80px;
                        }

                        .MuiRadio-root {
                            padding: 0;
                        }

                        .MuiTypography-root {
                            margin: 0;
                        }
                    }

                    .rappTag {
                        width: 569px;
                        display: flex;
                        align-items: flex-start;
                        margin-top: 32px;

                        .MuiTextField-root:nth-child(1) {
                            width: 434px;
                            margin-right: 16px;
                        }

                        .MuiFormGroup-root:nth-child(2) {
                            width: 80px;
                        }

                        .MuiRadio-root {
                            padding: 0;
                        }

                        .MuiTypography-root {
                            margin: 0;
                        }
                    }
                }

            }

        }

        // edit event sample
        .samplesContainer {
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            .MuiTypography-body1 {
                color: $body2;
            }

            .sampleLabel {
                .MuiTypography-body1 {
                    color: #666666;
                }
            }
        }

        //details page table

        .tableHead {
            background-color: #f8f9fa;

            .table_location {
                width: 470px;
            }
        }

    }

    .cardButtons {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        .MuiButton-root {
            width: 132px;
            font-size: 14px;
        }
    }

    //multiple IDs update page
    .MuiDataGrid-columnHeader {
        background-color: #f8f9fa;
    }

    .MuiDataGrid-iconSeparator {
        display: none;
    }

    .MuiDataGrid-root {
        border: none;
        margin: 32px auto 64px;
        width: 100%;
        height: 335px;
    }

    .MuiDataGrid-root .MuiDataGrid-columnHeader,
    .MuiDataGrid-root .MuiDataGrid-cell {
        outline: none !important;
    }

    //multi-edit dataGrid
    .MuiDataGrid-cell:not(.id_cell) {
        color: $secondaryText;
    }

    .id_cell {
        color: $link;
    }

    // .sex_cell,
    // .region_cell {
    //     color: $secondaryText;
    // }

    .findSpecies {
        width: 100%;
        margin-top: 50px;
    }
}

//HidableDetails
.hidableDetails {
    margin-top: 40px;

    .title {
        font-family: 'BCSans-Bold';
        font-size: 18px;
        margin-bottom: 19px;
    }

    .MuiTypography-body2 {
        color: $body2;
    }

    .history_content,
    .project_details_content {
        color: $text;
        margin-top: 5px;
    }

    .tableHead {
        background-color: #f8f9fa;
    }

    .details_samples {
        display: flex;

        span {
            margin-right: 200px;
        }
    }
}


.expandDetailsIcon {
    position: relative;
    top: 7px;
}

//details page

.paper {
    margin: 32px auto;
    width: 1296px;
    height: auto;
    padding-left: 58px;
    padding-right: 40px;

    .title {
        font-family: 'BCSans-Bold';
        font-size: 18px;
        margin-block: 48px 24px;
    }

    .MuiTypography-body1 {
        color: $text;
    }

    .MuiTypography-body2 {
        color: $body2;
    }

    .info {
        margin-block: 24px 32px;
        display: flex;
        align-items: center;

        span {
            width: 166px;
        }

        span:nth-child(1) {
            margin-right: 167px;
        }

        span:nth-child(2) {
            margin-right: 235px;
        }

        span:nth-child(3) {
            margin-right: 67px;
        }
    }

    .detailsTableContainer {
        margin: 24px 0;

        .MuiTypography-root:nth-child(1) {
            font-family: 'BCSans-Bold';
            font-size: 18px;
            margin-bottom: 19px;
        }

        .personnelTable {
            table-layout: auto;

            .tableHead {
                background-color: #f8f9fa;
            }

            .phone {
                white-space: nowrap;
            }
        }

        .tableHead {
            background-color: #f8f9fa;
        }
    }
}


//Status Signal
.ASSIGNED {
    background-color: #4caf50;
    width: 90px;
    text-align: center;
    height: 25px;
    border-radius: 50px;
    color: #ffffff;
}

.UNASSIGNED {
    background-color: #fcba19;
    width: 90px;
    text-align: center;
    height: 25px;
    border-radius: 50px;
    color: #ffffff;
}

.RETIRED {
    background-color: $body2;
    width: 90px;
    text-align: center;
    height: 25px;
    border-radius: 50px;
    color: $text;
}

//Multiple status signal
.MULTIPLE {
    background-color: #d8292f;
    width: 90px;
    text-align: center;
    height: 25px;
    border-radius: 50px;
}

//Status Form
.flagIcon:hover {
    color: #d8292f;
}

.MuiTooltip-tooltip {
    color: #fcba19;
    background-color: #d8292f;
}

//multiple page
.updateDetailsDialog {
    .MuiDialog-paper {
        width: 975px;
        padding: 40px 45px 60px;
    }

    .MuiDialogTitle-root {
        padding: 0;

        .MuiTypography-root:nth-child(1) {
            font-size: 18px;
            font-weight: 700;
        }

        .MuiTypography-root:nth-child(2) {
            font-weight: 700;
            font-size: 14px;
            margin-block: 12px;
        }

        .MuiTypography-root:nth-child(3) {
            font-size: 13px;
            color: $body2;
        }
    }

    .MuiDialogContent-root {
        padding: 0;

        .MuiTextField-root {
            width: 100%;
        }
    }

    .MuiDialogActions-root {
        display: flex;
        justify-content: flex-end;
        padding: 35px 0 0;

        .MuiButton-root {
            width: 100px;
            height: 35px;
            font-size: 14px;
        }

    }
}

.updateRegionDialog {
    .MuiDialog-paper {
        width: 728px;
    }

    .MuiDialogTitle-root {
        font-size: 14px;
        background-color: $link;
        color: #ffffff;
    }

    .MuiDialogContent-root {

        .MuiAutocomplete-root {
            margin-block: 32px;
            width: 100%;
        }

        .multiEdit_field {
            width: 100%;
            margin-bottom: 24px;
        }

        .MuiDataGrid-root {
            border: none;
            padding-inline: 24px;

            .MuiDataGrid-columnHeaders {
                color: $secondaryText;
            }

            .MuiDataGrid-cell:focus {
                outline: none !important;
            }

            .MuiDataGrid-columnSeparator {
                display: none;
            }
        }
    }

    .MuiDialogActions-root {
        display: flex;
        justify-content: flex-end;
        padding: 20px 24px 45px 0;

        .MuiButton-root {
            width: 100px;
            height: 35px;
            font-size: 14px;
        }

    }
}

.selectMultipleIDsDialog {
    .MuiDialog-paper {
        width: 580px;
    }

    .MuiDialogTitle-root {
        font-size: 16px;
        margin-top: 20px;
    }

    .MuiDialogContent-root {
        .MuiDataGrid-root {
            border: none;
            color: $secondaryText;
        }

        .MuiDataGrid-columnSeparator {
            display: none;
        }

    }

    .MuiDialogActions-root {
        display: flex;
        justify-content: flex-end;
        padding: 10px 24px 45px 0;

        .MuiButton-root {
            width: 100px;
            height: 35px;
            font-size: 14px;
        }
    }
}